.Main-advert-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.Main-advert-sub-div{
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Main-advert-sub-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


@media screen and (max-width: 500px) {
    .Main-advert-main-div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45vh;
    }
    .Main-advert-sub-div{
        width: 90vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
