.Home-Main-div{
    padding: 0 5vw;
}
.Home-Listing-Header{
    margin: 2vh 0 4vh 0;
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
}
.Home-Listing-Header h1{
    color: #be0027;
}

.Home-middle-content{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 5vh;
}
.Home-middle-content:hover{
    cursor: pointer;
}
.car-home-main-title-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-width-18{
    width: 18rem;
    /* overflow: hidden; */
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card-width-18 a{
    overflow: hidden;
}
.card-width-18 img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.Home-middle-content-image-div{
    height: 30vh;
    /* border: 1px solid red; */
}
.Home-middle-content-image-div img{
    height: 100%;
    object-fit: contain;
}
.Home-middle-content-image-div a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center !important;
    align-items: center;
}


/* -----Multi - Button CSS  - Starts Here----- */
/* Phone */
.car-details-multibtn-div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.multi-phone-combining-div{
    width: 30%;
    position: relative;
}

.multi-button-phone{
    width: 100%;
  height: 5.5vh;
  border: none;
  transition: 1s;
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(13, 13, 13,0.1);

}
.multi-button-phone:hover{
    background: rgb(2, 2, 248,0.2);
    transition: 1s;

}
.multi-btn-phone{
    color: #193725;
    font-size: 1.2rem;
}
.phone-tooltip{
    position: absolute;
    top: -130%;
    right: 0;
    background-color: white;
    font-weight: 900;
    z-index: 1;
    padding: 1vh 1vw;
    border: 1px solid rgb(10, 10, 10,0.1);
    border-radius: 4px;
    width: 10vw;
}
.enquiry-tooltip{
    position: absolute;
    top: -130%;
    right: 0;
    background-color: white;
    font-weight: 900;
    z-index: 1;
    padding: 1vh 1vw;
    border: 1px solid rgb(10, 10, 10,0.1);
    border-radius: 4px;
    width: 10vw;
}
/* .share-icon-with-tooltip-div{
    position: relative;
} */
.share-tooltip{
    position: absolute;
    top: 23%;
    right: 10%;
    background-color:white;
    font-weight: 900;
    z-index: 1;
    padding: 1vh 1vw;
    border: 1px solid rgb(10, 10, 10,0.1);
    border-radius: 4px;
    width: 20vw;
}
.share-icon-inactive{
    display: none !important;
}
.phone-tooltip-inactive{
    display: none;
}

/* Whatsapp */
.multi-button-whatsapp{
    width: 100%;
  height: 5.5vh;
  border: none;
  transition: 1s;
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(13, 13, 13,0.1);

}
.multi-whatsapp-combining-div{
    width: 30%;
    position: relative;

}
.multi-button-whatsapp:hover{
    background: rgba(93, 143, 0, 0.3);
    transition: 1s;

}
.multi-btn-whatsapp{
    color: rgb(0, 173, 0);
    font-size: 1.2rem;
}

/* Enqury */
.multi-button-enquiry{
    width: 100%;
  height: 5.5vh;
  border: none;
  transition: 1s;
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(13, 13, 13,0.1);

}
.multi-Enquiry-combining-div{
    width: 30%;
    position: relative;

}
.multi-button-enquiry:hover{
    background: rgba(255, 0, 0, 0.2);
    transition: 1s;
}
.multi-btn-enquiry{
    color: #be0027;
    font-size: 1.2rem;
}

/* -----Multi button ends here----- */


.favourites-icon-inactive{
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 1.5rem;
    color: rgb(0, 0, 0,0.3);
    /* border: 1px solid rgb(102, 64, 64,0.6); */
    padding:  3px;
    border-radius: 50%;
    background-color: white;
}
.favourites-icon-active{
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 1.5rem;
    color: red;
    /* border: 1px solid red; */
    padding:  3px;
    border-radius: 50%;
    background-color: white;
}
.bookmark-icon-inactive{
  
    border: 1px solid rgb(0, 0, 0,0.5);
    color: rgb(0, 0, 0,0.5);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
}
.bookmark-icon-active{

    border: 1px solid rgb(255, 145, 0);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    color: rgb(255, 145, 0);
}

.car-cost-heading5{
    font-weight: bolder;
}
.car-home-main-title{
    font-weight: bold;
}
.car-cost-heading-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

/* ----------Enquary Form -------- */
.Enquiry-form{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.6);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s ease-in,height 0.5s ease-in;

   
}

.Enquiry-form-inactive{
   width: 0;
   height:0;
   transition: width 0.3s ease-out,height 0.3s ease-out;
   overflow: hidden;
   position: absolute;
   right: -50vw;
   top: 0;
}
.Enquiry-form-sub-div{
    width: auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 12px;
    position: relative;
    height: auto;
    padding-bottom: 8vh;
    padding: 4rem;
    border: 2px solid gray;
}
.Enquiry-form-sub-div h3{
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.Enquiry-form-tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}
.enquiry-close-icon{
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
    color: red;
}
.enquiry-close-icon:hover{
    transform: scale(1.1);
}
.Enquiry-form-tag input{
    margin-bottom: 2vh;
    border: 2px solid whitesmoke;
    margin-top: 1vh;
    padding: 0.3rem;
}
.enquiry-form-submit-btn{
    background-color: transparent;
    width:  50%;
    margin: auto;
    margin-top: 3vh;
    font-weight: bold;
    border: 1px solid rgb(128, 128, 128,0.2);
}
.enquiry-form-submit-btn:hover{
    border: 2px solid white;
}
.Terms-conditions-checkbox{
    margin-top: 3vh;
}
.captcha-div label{
    font-size: 0.9rem;
    margin-left: 1vw;
    color: rgb(187, 0, 47,0.6);
    font-weight: 700;
}

.share-icon-active{
    display: block;
    position: absolute;
        display: block;
        top: 8vh;
        right: 1vw;
        color: #00aaff;
        border: 1px solid rgb(135, 206, 235,0.8);
        padding: 0.5rem;
        border-radius: 50%;
        background-color: white;
}
.share-icon-inactive{
    display: none;
}



@media screen and (max-width: 600px) {

    .Home-middle-content{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-content: center;
        align-content: center;
    }
    .card-width-18{
        width: 90vw;
    }
    .Home-middle-content-image-div{
        height: 28vh;
        /* border: 1px solid red; */
    }
    
    .favourites-icon-inactive{
        
        right: 3vw;
    }
    .favourites-icon-active{
        right: 3vw;
    }
    .share-icon-active{
        position: absolute;
        display: block;
        top: 6vh;
        right: 3vw;
        color: #00aaff;
        border: 1px solid rgb(135, 206, 235,0.8);
        padding: 0.5rem;
        border-radius: 50%;
        background-color: white;
    }
    .share-icon-inactive{
        display: none !important;
    }
    .bookmark-icon-inactive{
        right: 3vw;
        bottom: 12vh;
    }
    .bookmark-icon-active{
        right: 3vw;
        bottom: 12vh;
    }
    .Date-icon{
        right: 3vw;
    }
    .car-details-multibtn-div{
      width: 100%;
    }
    .car-home-main-title{
        font-size: 1.3rem;
    }
    .phone-tooltip{
        right: -70%;
        width: 36vw;
        padding: 1vh 2vw;
        box-shadow: none;
        background-color: white;
    }
    .enquiry-tooltip{
        right: 0;
        width: 36vw;
        padding: 1vh 2vw;
        box-shadow: none;
        background-color: white;
    }
    .share-tooltip{
        top: 20%;
        right: 10%;
        width: 60vw;
        padding: 1vh 2vw;
        box-shadow: none;
        background-color: white;
    }

    /* ----------Enquary Form -------- */

.Enquiry-form-sub-div{
    width: 80%;
    height: auto;
    padding: 0 5vh;
    padding-bottom: 5vh;
}
.enquiry-close-icon{
    position: absolute;
    top: 1vh;
    right: 2vw;
    cursor: pointer;
    color: red;
}
.captcha-div label{
    font-size: 0.7rem;
    margin-left: 2vw;
    color: rgb(187, 0, 47,0.6);
    font-weight: bold;
    margin-top: 2vh;
}

  }


  @media screen and (min-width: 601px) and (max-width: 1400px) {
    
    .Home-middle-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
        align-content: center;
    }
    .captcha-div label{
        font-size: 0.7rem;
        margin-left: 2vw;
        color: rgb(187, 0, 47,0.6);
        font-weight: bold;
        margin-top: 2vh;
    }
    .share-icon-inactive{
        display: none !important;
    }

  }