.Home-Main-div{
    padding: 0 5vw;
}
.Home-Listing-Header{
    margin: 2vh 0 4vh 0;
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
}
.Home-Listing-Header h1{
    color: rgb(74, 1, 74);
}
.buy-sell-btn{
    width: 12vw;
    background-color: rgb(252, 219, 176,0.1);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.buy-sell-btn-one{
    width: 5vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 2px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-weight: bolder
}
.buy-sell-btn-one-inactive{
    width: 5vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder
}
.buy-sell-btn-one:hover{
    transform: scale(1.1);
}
.buy-sell-btn-two{
    width: 5vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder
}
.buy-sell-btn-two-active{
    width: 5vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-weight: bolder
}
.buy-sell-btn-two:hover{
    transform: scale(1.1);
}
.buy-sell-btn-one-inactive:hover{
    transform: scale(1.1);
}
.buy-sell-btn-two-active:hover{
    transform: scale(1.1);
}

.Home-middle-content{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 5vh;
}
.Home-middle-content:hover{
    cursor: pointer;
}
.card-width-18{
    width: 18rem;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card-width-18 a{
    overflow: hidden;
}
.card-width-18 img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.car-details-multibtn-div{
    /* background: #fafafa;
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 50px; */
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.car-details-multibtn-div button{
    width: 50px;
  height: 50px;
  color: gray;
  background: #efefef;
  border-radius: 100%;
  border: 1px solid gray;
  transition: 1s;
  outline: none;
  /* -webkit-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  -moz-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  box-shadow: -2px 2px 10px 0px rgba(92,92,92,1); */
    
}
/* .car-details-multibtn-div button:hover{
    background: #dadada;
    transition: 1s;   
} */
.multi-button-phone{
    -webkit-box-shadow: -2px 2px 5px 0px rgb(47, 0, 255);
  -moz-box-shadow: -2px 2px 5px 0px rgb(47, 0, 255);
  box-shadow: 0 2px 10px 0px rgb(47, 0, 255);
    /* background: rgb(2, 2, 248,0.9);
    transition: 1s; */

}
.multi-button-phone:hover{
    background: rgb(2, 2, 248,0.2);
    transition: 1s;

}
.multi-button-whatsapp{
    -webkit-box-shadow: -2px 2px 5px 0px rgb(0, 163, 0);
  -moz-box-shadow: -2px 2px 5px 0px rgb(0, 163, 0);
  box-shadow:  0 2px 10px 0px rgb(0, 163, 0);

}
.multi-button-whatsapp:hover{
    background: rgba(93, 143, 0, 0.3);
    transition: 1s;

}
.multi-button-enquiry{
    -webkit-box-shadow: -2px 2px 5px 0px red;
  -moz-box-shadow: -2px 2px 5px 0px red;
  box-shadow: 0 2px 10px 0px red;
    /* background: rgb(2, 2, 248,0.9);
    transition: 1s; */

}
.multi-button-enquiry:hover{
    background: rgba(255, 0, 0, 0.2);
    transition: 1s;
}
/* .car-details-multibtn-div button:focus{
    color: black;
    background: #dadada;
    border: 1px solid black;
    -webkit-box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
    -moz-box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
    box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1); 
} */
.multi-btn-phone{
    color: blue;
    font-size: 1.2rem;
}
.multi-btn-whatsapp{
    color: rgb(0, 173, 0);
    font-size: 1.2rem;
}
.multi-btn-enquiry{
    color: red;
    font-size: 1.2rem;
}
.car-details-btn{
    /* background-color: rgba(12, 12, 12, 0.7);
        color: white; */
        border-radius: 2px;
        border: none;
        font-weight: 700;
        color: rgb(0, 0, 0,0.6);
        border: 1px solid rgb(5, 5, 5,0.2);
}
.favourites-icon-inactive{
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 1.5rem;
    color: rgb(170, 125, 125,0.6);
    border: 1px solid rgb(102, 64, 64,0.6);
    padding:  3px;
    border-radius: 50%;
}
.favourites-icon-active{
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 1.5rem;
    color: red;
    border: 1px solid red;
    padding:  3px;
    border-radius: 50%;
}
.bookmark-icon-inactive{
    position: absolute;
    right: 1vw;
    bottom: 11vh;
    border: 1px solid rgb(0, 0, 0,0.5);
    color: rgb(0, 0, 0,0.5);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
}
.bookmark-icon-active{
    position: absolute;
    right: 1vw;
    bottom: 11vh;
    border: 1px solid rgb(255, 145, 0);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    color: rgb(255, 145, 0);
}
.Date-icon{
    position: absolute;
    right: 1vw;
    bottom: 0.1vh;
    color: green;
}




@media screen and (max-width: 500px) {

    .Home-middle-content{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-content: center;
        align-content: center;
    }
    .card-width-18{
        width: 90vw;
    }
    .buy-sell-btn{
        width: 30vw;
        background-color: rgb(250, 226, 194,0.2);
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .buy-sell-btn-one{
        width: 13.5vw;
        height: 5vh;
        margin-right: 3px;
    }
    .buy-sell-btn-one-inactive{
        width: 13.5vw;
        height: 5vh;
        
    }
    .buy-sell-btn-two{
        width: 13.5vw;
        height: 5vh;
    }
    .buy-sell-btn-two-active{
        width: 13.5vw;
        height: 5vh;
        margin-left: 3px;
    }
    .favourites-icon-inactive{
        
        right: 3vw;
    }
    .favourites-icon-active{
        right: 3vw;
    }
    .bookmark-icon-inactive{
        right: 3vw;
        bottom: 12vh;
    }
    .bookmark-icon-active{
        right: 3vw;
        bottom: 12vh;
    }
    .Date-icon{
        right: 3vw;
    }
    .car-details-multibtn-div{
      width: 50%;
    }
    }