.Middle-nav-sub-div{
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.Middle-nav-left-div{
    display: flex;
}
.Middle-nav-left-div img{
    width: 10vh;
    height: 5vh;
    border-radius: 2px;
    margin-right: 2px;
}
.Middle-nav-left-div h3{
    color: black;
    font-weight: bolder;
}


.Middle-nav-right-div a{
    text-decoration: none;
    margin-right: 3vw;
    color:black;
}

@media screen and (max-width:500px) {
    .Middle-nav-sub-div{
        padding: 0 1vw;
    }
    .Middle-nav-right-div{
    
        margin-top: 7vh;
        padding-right: 1vw;
        margin-right: 4vw;
    }
    
}