/* .LowerNav-main-div{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(30, 21, 114);
    padding: 0 5vw;
}
.Lower-Nav-Sub-div input{
 width: 17vw;
 height: 6vh;
 margin-right: 3vw;
 border-radius: 5px;
}
.Lower-Nav-Sub-div button{
 width: 8vw;
 height: 6vh;
 border-radius: 5px;
 background-color: rgb(255, 174, 0);
} */
.LowerNav-main-div{
    width: 100%;
    display: flex;
    justify-content: center;
    height:80vh;
    margin-bottom: 5vh;
}

.Lowenav-add-showing-div{
    height: 80vh;
    width: 87vw;
}
.Lowenav-add-showing-div img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1280px) {

       .LowerNav-main-div{
        width: 100%;
        display: flex;
        justify-content: center;
        height:auto;
        margin-bottom: 2vh;
        /* margin-top: 1vh; */
    }
    
    .Lowenav-add-showing-div{
        height: auto;
        width: 95vw;
    }
    .Lowenav-add-showing-div img{
        height: auto;
        width: 95vw;
        border: 1px solid red;
    }
}