.SellCar-sub-div{
    padding: 3vh 6vw 0 5vw;
    margin-bottom: 10vh;
    
}

.SellCar-top-heading{
    display: flex;
    justify-content: space-between;
}
.SellCar-top-heading h1{
    color: #be0027;
}

.Sell-car-main-content{
    /* border: 1px solid blue; */
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    
}
.show-uploaded-image{
    width: 30vw;
    height: 30vh;
    border:  2px dotted skyblue;
    margin-bottom: 2vh;
}
.substitute-image-text{
    margin: auto;
    color: rgb(12, 12, 12,0.4);
    margin-left: 8vw;
    margin-top: 10vh;
}
.show-uploaded-image{
    cursor: pointer;
}
.show-uploaded-image img{
    width: 5vw;
    height: 8vh;
    border:  1px dotted red;
    margin: 3px;
}
.Sell-car-details-fill-main-div{
    width: 40vw;
    border: 1px solid rgb(12, 12, 12,0.1);
    padding: 1rem 2rem;
}
.Sell-car-details-fill-main-div input{
    margin-bottom: 4vh;
    border: 2px solid rgba(7, 7, 7, 0.2);
    border-radius: 3px;
    padding-left: 1vw;
    width: 20vw;
}
.Sell-car-details-fill-main-div select{
    margin-bottom: 4vh;
    border: 2px solid rgba(7, 7, 7, 0.2);
    border-radius: 3px;
    padding-left: 1vw;
    width: 20vw;
}
.description-text-area{
    margin-bottom: 4vh;
    border: 2px solid rgba(7, 7, 7, 0.2);
    border-radius: 3px;
    padding-left: 1vw;
    width: 20vw;
  }
.Sell-car-details-fill-main-div label{
    margin-right: 1vw;
    width: 13vw;
}
.description-text-area-div{
    display: flex;
    justify-content: flex-start;
}
.Add-Upload-button{
    margin-top: 5vh;
    width: 12vw;
    height: 5vh;
    background-color: rgba(12, 12, 12, 0.7);
    color: white;
    border-radius: 3px;
    font-size:1rem;
    font-weight: bolder;
    border: none;
}


@media screen and (max-width: 1000px) {

    .SellCar-sub-div{
        margin-bottom: 5vh;
        
    }
    .show-uploaded-image{
        width: 100%;
        padding-left: 2vw;
        height: auto;
    }
    .substitute-image-text{
        margin-left: 22vw;
        margin-bottom:5vh;
        margin-top:5vh;
    }
    .show-uploaded-image img{
        width: 18vw;
        height: 8vh;
        border:  1px dotted red;
        margin: 3px;
    }
    .Sell-car-main-content{
        /* border: 1px solid blue; */
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    .Sell-car-details-fill-main-div{
        width: 90vw;
        border: 2px solid rgb(12, 12, 12,0.1);
        padding: 1rem 2vw;
        margin-top: 5vh;
    }
    .Sell-car-details-fill-main-div input{
        width: 85vw;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        height: 5vh;

    }
    .Sell-car-details-fill-main-div select{
        width: 85vw;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        height: 5vh;
    }
    .description-text-area{
        width: 85vw;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        height: auto;
      }
      .description-text-area-div{
        flex-direction: column;
    }
    .Sell-car-details-fill-main-div label{
        /* margin: auto; */
        width: 25vw;
        display: block;
    }
    .Upload-btn{
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .Add-Upload-button{
        justify-self: center;
        margin-top: 3vh;
        width: 40vw;
        height: 5vh;
        background-color: rgba(12, 12, 12, 0.7);
        color: white;
        border-radius: 3px;
        font-size: 1rem;
        font-weight: bolder;
        border: none;
    }
    
    }