/* .Profile-View-Main-div{

} */
/* .Profile-View-Sub-div{

} */


@media screen and (max-width:800px) {
    .Profile-View-Main-div{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: 50vh;

}

    .Profile-View-Sub-div{
        width: 98vw;
        height: auto;
        /* border: 1px solid blue; */
        padding-top: 3vh;
        border: 1px solid rgb(128, 128, 128,0.2);
        margin-top: 3vh;
        padding-bottom: 5vh;
        position: relative;

    }
    .back-to-user-dashboard{
        position: absolute;
        color: #eb7a9a;
        left: 3vw;
        top: 2vh;
    }
    .Profile-View-top-secton{
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3vh;
    }
    .User-profile-image{
        width: 35%;
        height: 80%;
        margin-bottom: 2vh;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 8px 1px gray;
        /* padding: 0.1rem; */
        position: relative;
    }
    .User-profile-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .Profile-photo-change{
        position: absolute;
        top: 5%;
        right: 30%;
        font-size: 2.2rem;
        color: rgba(0, 0, 0, 0.4);
    }

    .profile-line-down{
        background-color: rgb(138, 137, 137,0.2);
        height: 0.1vh;
        width: 80%;
        margin: auto;
        margin-top: 2vh;
    }
    .Profile-User-Details{
        margin-top: 5vh;
        padding-left: 10vw;

    }
    .Profile-User-Details p{
        border: 1px solid rgb(0, 0, 0,0.7);
        padding: 1rem;
        width: 85%;
        border-radius: 10px;
        position: relative;
        margin-bottom: 4vh;
        font-weight: bold;

    }
    .Profile-User-Details p span{
        position: absolute;
        /* border: 1px solid red; */
        top: -25%;
        left: 5%;
        background-color: white;
        padding: 0 1.5vw;
        font-weight: 400;
    }
    .profile-input-optional{
        position: absolute;
        bottom: 50;
        right: 2vw;
        cursor: pointer;
        color: rgb(0, 153, 255,0.8);
        font-weight: 700;
    }



    .User-Adhar-input-div-inactive{
        display: none;
    }
    .User-Adhar-input-div-active input{
        padding: 0.5rem;
        margin-bottom: 2vh;
        width: 60%;
        border: none;
        border: 1px solid rgb(128, 128, 128,0.2);
        border-radius: 10px;
        margin-right: 3vw;
        margin-bottom: 4vh;

    }
    .User-Adhar-input-div-active button{
        border: none;
            padding: 0.3rem 1rem;
            margin-right: 2vw;
            border-radius: 5px;
            border: 1px solid rgb(128, 128, 128,0.2);
            color: white;

    }
    .User-Email-input-div-inactive{
        display: none;
    }
    .User-Email-input-div-active input{
        padding: 0.5rem;
        margin-bottom: 2vh;
        width: 60%;
        border: none;
        border: 1px solid rgb(128, 128, 128,0.2);
        border-radius: 10px;
        margin-right: 3vw;
        margin-bottom: 4vh;

    }
    .User-Email-input-div-active button{
        border: none;
            padding: 0.3rem 1rem;
            margin-right: 2vw;
            border-radius: 5px;
            border: 1px solid rgb(128, 128, 128,0.2);
            color: white;

    }

    .change-user-password-inputs-inactive{
           display: none;
    }
    .change-user-password-inputs-active input{
            padding: 0.5rem;
            margin-bottom: 2vh;
            width: 75%;
            border: none;
            border: 1px solid rgb(128, 128, 128,0.2);
            border-radius: 10px;
    }
    .change-user-password-inputs-active button{
            border: none;
            padding: 0.3rem 1rem;
            margin-right: 2vw;
            border-radius: 5px;
            border: 1px solid rgb(128, 128, 128,0.2);
    }



    .Profile-user-Logout-div{
        border: 1px solid rgb(0, 0, 0,0.1);
        padding: 0.9rem;
        width: 25%;
        border-radius: 50%;
        margin-bottom: 4vh;
        margin-top: 4vh;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20% 30%;
    }
    .Profile-user-Logout-div i{
        font-size: 1.4rem;
        color: rgb(255, 0, 0,0.8);
        margin-bottom: 1vh;
        /* margin-top: 5vh; */
        cursor: pointer;
    }
    .Profile-user-Logout-div h6{
        color: rgb(255, 0, 0,0.8);
    }

}