.Finance-page-main-div{
    padding: 1vh 5vw;
    margin-top: 5vh;
}

.Finance-company-images-div{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.Finance-company-image-showing-div{
    width: 10vw;
    margin-right: 2vw;
    border-radius: 5px;
    margin-bottom: 5vh;
    border: 1px solid rgb(10, 10, 10,0.2);
}
.Finance-company-image-showing-div:focus{
    border: 1px solid #be0027;
    box-shadow: 0 0 5px 2px #452f85;
}

.Finance-company-image-showing-div img{
    width: 100%;
    height: 15vh;
    border-radius: 5px;
}
.Finance-company-input-div{
    padding: 2vh 2vw;
    border-radius: 5px;
    width: 55%;
    box-shadow: 1px 1px 1px 2px #be0027;
    margin: auto;
}

.Finance-company-input-div label{
    font-weight: bold;
    position: relative;
}
.Finance-company-input-div select{
    width: 30vw;
    border: none;
    margin-left: 3vw;
    position: absolute;
}
.Finance-company-input-div select:focus{
    outline: none;
}
.Finance-Documents-Req-div{
    margin-top: 3vh;
    border: 1px solid rgb(5, 5, 5,0.1);
    padding-top: 2vh;
    border-radius: 2px;
    height: 100vh;
}

.Finance-comp-multi-btn{
    width: 40vw;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
}
.Finance-company-input-div select{
    background: transparent;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    
    .Finance-company-image-showing-div{
        width: 18vw;
        margin-bottom: 5vh;
        margin-right: 4vw;
        height: 12vh;
    }
    .Finance-comp-multi-btn{
        width: 100%;
        margin: auto;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }
    .Finance-company-image-showing-div{
        width: 16vw;
        margin-right: 2vw;
        border-radius: 5px;
        margin-bottom: 5vh;
        border: 1px solid rgb(10, 10, 10,0.2);
    }
    .Finance-company-image-showing-div img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .Finance-company-input-div{
        width: 80%;
    }
    .Finance-company-input-div select{
        background: transparent;
    }


  }



@media screen and (max-width: 600px){
    .Finance-company-image-showing-div{
        width: 18vw;
        margin-bottom: 5vh;
        margin-right: 4vw;
    }
    .Finance-comp-multi-btn{
        width: 100%;
        margin: auto;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }
    .Finance-company-image-showing-div{
        width: 16vw;
        margin-right: 2vw;
        border-radius: 5px;
        margin-bottom: 5vh;
        border: 1px solid rgb(10, 10, 10,0.2);
    }
    .Finance-company-image-showing-div img{
        width: 100%;
        height: 6vh;
        border-radius: 5px;
    }
    .Finance-company-input-div{
        width: 100%;
        padding-right: 2vw;
    }
    .Finance-company-input-div select{
        background: transparent;
    }
}