.OtherServices-main-div{
     padding: 0 5vw;
     background-color: whitesmoke;
    }
    
    .Other-services-sub-div{
        margin-top: 5vh;
        padding: 3vh 0;
        /* background-color: #003366; */
    }

    .Finance-sector h1{
         margin-left: 5vw;
    }
    .Insurance-sector h1{
     margin-left: 5vw;
}
    .Finance-sector-sub{
     position: relative;
      display: flex;
      width: 78vw;
      height: 40vh;
    }
    .Finance-sec-image-conatainer{
         position: absolute;
         top: 0;
         right: 0;
         width: 20vw; 
         height: 35vh;
         overflow: hidden;
    
    }
    .Finance-sec-image-conatainer img{
         width: 20vw;
      height: auto;
    }
    .Finance-sec-text-conatainer{
         width: 56vw;
         text-align: justify;
    
    }
    .Finance-sec-text-conatainer p{
         margin: 0;
    }
    
    @media screen and (max-width: 900px) {
    
        .OtherServices-main-div{
            padding: 0;
            background-color: whitesmoke;
           }
           .Finance-sector-sub{
               flex-direction: column;
               width: 90vw;
               height: auto;
             }
             .Finance-sec-image-conatainer{
              position: relative;
              /* top: 0;
              right: 0; */
              width: 90vw; 
              height: 35vh;
              display: flex;
              justify-content: center;
              align-items: center;
         
         }
         .Finance-sec-image-conatainer img{
              width: 60%;
           height: 80%;
         }
         .Finance-sec-text-conatainer{
              width: 90vw;
              text-align: justify;
         
         }
         .OtherServices-description-extended{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          /* background-color: blue; */
          border: 1px solid rgb(10, 10, 10,0.5);
          display: flex;
          justify-content: center;
          align-items: center;
         }

         .Finance-Documents-Req-div-hide-for{
          height: 0;
          overflow: hidden;
          transition: height 1s ease-in;
         }
        }